# idea
.idea/
# eclipse
/.classpath
/.project
# project
*.class
/data*
ERA/settings.json
ERA/*.jar
/build/
/logs/
.gradle
/ERA/logs
/ERA/build/
settings.json
gui_settings.json
*.xml
/out/
.settings
/bin*
/bin/
/gradle/
/ERA/temp/
/ERA/wallet*/
/ERA/telegram/
*.log

# mac
*.DS_Store
/ERA_SIDE/
